.modal {
    &--disabled {
        display: none;
    }

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 15;

    &__legend {
        display: none;
    }

    &__content {
        padding: 10px;
        background-color: #c5c5c5;
        border-radius: 5px;
        border: none;
    }
}
