.register {
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 16px;
    }

    &__btn {
        background: transparent;
        border: none;
    }
}
