@import './components/modal.css';
@import 'components/register-form.css';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-width: 1140px;
	height: 100%;
	font: 16px 'Lora',sans-serif;
	background: #fff;
	color: #000;
}
html{height: 100%;}

li{list-style-type: none;}
span, a{
	text-decoration: none;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	line-height: 1;
}
h1, h2, h3, h4, h5, h6, p{
	font-weight: normal;
	line-height: 1;
}
input, button, textarea{
	outline: none;
	border: none;
	resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {-moz-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="submit"]{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	cursor: pointer;

	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
	color: #ccc;
	opacity: 1;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ccc;
	opacity: 1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #ccc;
	opacity: 1;
}
input::-o-placeholder { /* Opera */
	color: #ccc;
	opacity: 1;
}


@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('../fonts/Circe-ExtraBold.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Circe-Light';
  src: url('../fonts/Circe-Light.ttf');
  font-style: normal;
  font-weight: normal;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}


.container{
	margin: 0 auto;
	padding: 0 20px;
	width: 1140px;
	box-sizing: border-box;
}
.h1{
	font: 36px "Circe-Bold";
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}
.h2{
	padding: 60px 0px 35px;
    font: 30px "Circe-Light";
    text-transform: uppercase;
    text-align: center;
    color: #444444;
}
.h3{
	padding: 55px 0px 30px;
    font: 24px "Circe-Light";
    text-transform: uppercase;
    text-align: center;
    color: #444444;
}

/*Circe-Regular*/
.txt-20-r{font: 20px "Circe-Regular";}
.txt-18-r{font: 18px/28px "Circe-Regular";}
.txt-18-r + .txt-18-r{margin-top: 11px;}
.txt-16-r{font: 16px/36px "Circe-Regular";}
.txt-14-r{
	font: 14px/24px "Circe-Regular";
	text-shadow: 0px 0px;
}
.txt-12-r{font: 12px/16px "Circe-Regular";}
/*Circe-Regular*/

/*Circe-Bold*/
.txt-16-b{font: 16px/36px "Circe-Bold";}
/*Circe-Bold*/

/*Circe-Light*/
.txt-20-l{
	font: 20px "Circe-Light";
	text-shadow: 0px 0px;
}
.txt-18-l{
	font: 18px/30px "Circe-Light";
	text-shadow: 0px 0px;
}
.txt-18-l + .txt-18-l{margin-top: 12px;}
.txt-16-l{font: 16px/27px "Circe-Light";}
/*Circe-Light*/

/*Color*/
.txt-grey-1{color: #555555;}
.txt-grey-2{color: #444444;}
.txt-grey-3{color: #888888;}
/*Color*/

.input-submit,
.input-text{
	display: inline-block;
	vertical-align: top;
}
.input-text{
	margin-right: 16px;
	padding: 0px 15px;
	width: 245px;
	height: 39px;
	color: #444444;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
}
.input-text::-webkit-input-placeholder { /* WebKit browsers */
	font: 18px "Circe-Regular";
	color: #a2a1a1;
	opacity: 1;
}
.input-submit{
	font: 16px/42px "Circe-Light";
    color: #ffffff;
    text-transform: uppercase;
    width: 245px;
    height: 39px;
    background: #F4B00B;
    border-bottom: 3px solid #D0A53B;
    border-radius: 6px;
}
.input-submit:hover{background: #D0A53B;}


.crumbs{
	padding: 7px 0px 5px;
	background: #555555;
}
.crumbs span,
.crumbs a{
	display: inline-block;
    font: 14px/22px "Circe-Light";
    vertical-align: top;
}
.crumbs a{color: #fff;}
.crumbs a:hover{text-decoration: underline;}
.crumbs a:after{
	content: "";
    display: inline-block;
    margin: 6px 5px 0px 11px;
    width: 4px;
    height: 10px;
    vertical-align: top;
    background: url(../images/arrow-crumbs.png) no-repeat;
}
.crumbs a.home_page{
	padding-left: 30px;
    background: url(../images/home.png) no-repeat 0px 2px;
}
.crumbs span{color: #aaaaaa;}


.wr-pagination{
	margin-top: 50px;
	text-align: center;
}
.wr-pagination ul{
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 5px;
	background: #ffffff;
}
.wr-pagination ul li{
	float: left;
}
.wr-pagination ul li img{display: block;}
.wr-pagination ul li:last-child a,
.wr-pagination ul li:first-child a{padding: 12px 18px;}
.wr-pagination ul li:last-child a:hover,
.wr-pagination ul li:first-child a:hover{background: #dddddd;}
.wr-pagination ul li + li{border-left: 1px solid #dddddd;}
.wr-pagination ul a{
	display: block;
    padding: 8px 12px 6px 12px;
    font: 18px "Circe-Regular";
    color: #444444;
    transition: all 0s;
}
.wr-pagination ul a:hover{
	color: #ffffff;
	background: #888888;
}
.wr-pagination ul a.active{
	color: #ffffff;
	background: #666666;
}



.wr-new-messages{
	position: fixed;
    bottom: 35px;
    right: 35px;
}
.wr-new-messages .new-messages{
	position: relative;
    margin-top: 20px;
    padding: 13px 20px 15px;
    width: 308px;
    background: #6B6F81;
    border-radius: 5px;
}
.wr-new-messages .new-messages .top-text{
	margin-bottom: 6px;
    font: 16px "Circe-Regular";
    color: #ffffff;
}
.wr-new-messages .new-messages .wr-image{
	float: left;
    margin-top: 2px;
    width: 35px;
    height: 35px;
}
.wr-new-messages .new-messages .wr-image img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.wr-new-messages .new-messages .wr-text{
	float: right;
    width: 220px;
}
.wr-new-messages .new-messages .wr-text .name-user{
	font: 14px "Circe-Regular";
	color: #90d1ff;
}
.wr-new-messages .new-messages .wr-text .name-user:hover{text-decoration: underline;}
.wr-new-messages .new-messages .wr-text .text{
	margin-top: 2px;
    max-height: 36px;
    font: 12px/18px "Circe-Regular";
    color: #ffffff;
    overflow: hidden;
}
.wr-new-messages .close{
	position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}



.about-company,
.answers-and-questions,
.contact,
.wr-main-slider{margin-top: 56px;}


.header{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 12px 0px;
	width: 100%;
	background: #fff;
	z-index: 2;
	border-bottom: 1px solid #ddd;
}
.header .logo{
	position: relative;
	top: 2px;
	display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
    font: 36px/31px "Circe-Bold";
    text-transform: uppercase;
    color: #C4C2C2;
}
.header ul li,
.header ul{
	display: inline-block;
	vertical-align: middle;
}
.header ul li + li{margin-left: 20px;}
.header ul a{
	display: inline-block;
	font: 16px/18px "Circe-Regular";
	color: #333333;
	border-bottom: 1px solid transparent;
	transition: all 0s;
}
.header ul a:hover{
	color: #7ab631;
	border-bottom: 1px solid #7ab631;
}
.header .check-in{
	float: right;
    margin-top: 1px;
    padding-left: 32px;
    padding-bottom: 4px;
    font: 16px "Circe-Regular";
    color: #333333;
    background: url(../images/check-in.png) no-repeat center left;
}
.header .check-in a{
    display: inline-block;
    line-height: 18px;
	color: #7ab631;
    border-bottom: 1px solid #7ab631;
    transition: all 0s;
}
.header .check-in a:hover{border-bottom: 1px solid transparent;}



.header-account{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
    background: #434343;
    z-index: 2;
}
.header-account .logo{
	display: inline-block;
    margin-top: 1px;
    font: 36px "Circe-Bold";
    color: #C8EBEF;
    vertical-align: top;
}
.header-account ul{
	display: inline-block;
    margin-top: 18px;
    margin-left: 35px;
    vertical-align: top;
}
.header-account ul li{
	display: inline-block;
	vertical-align: top;
}
.header-account ul li + li{margin-left: 22px;}
.header-account ul a{
    display: inline-block;
	font: 16px/12px "Circe-Regular";
    color: #fff;
    border-bottom: 1px solid transparent;
    transition:  all 0s;
}
.header-account ul a:hover{border-bottom: 1px solid #ffffff;}
.header-account .content-right{
	float: right;
	height: 55px;
    border-right: 1px solid #585858;
}
.header-account .content-right .make-order{
	display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    width: 180px;
    height: 33px;
    font: 14px/35px "Circe-Regular";
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    background: #7AB631;
    border-radius: 30px;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.5s;
}
.header-account .content-right .make-order:hover{background: #6BA02B;}
.header-account .content-right .messages,
.header-account .content-right .notification{
	float: right;
	width: 62px;
	height: 55px;
	border-left: 1px solid #585858;
	cursor: pointer;
}
.header-account .content-right .wr-notification{
	position: relative;
	float: right;
}
.header-account .content-right .notification{
	position: relative;
	float: none;
	background: url(../images/notification.png) no-repeat center;
}
.header-account .content-right .notification.new-info:after{
	position: absolute;
    top: 15px;
    right: 18px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background: #F77166;
    border-radius: 50%;
}
.header-account .content-right .notification:hover{background: #585858 url(../images/notification.png) no-repeat center;}
.header-account .content-right .wr-notification.active .notification:hover,
.header-account .content-right .wr-notification.active .notification{background: #383838 url(../images/notification-active.png) no-repeat center;}
.header-account .content-right .messages{
	position: relative;
	background: url(../images/messages.png) no-repeat center;
}
.header-account .content-right .messages.new-info:after{
	position: absolute;
    top: 15px;
    right: 13px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background: #F77166;
    border-radius: 50%;
}
.header-account .content-right .messages:hover{background: #585858 url(../images/messages.png) no-repeat center;}
.header-account .content-right .messages.active:hover,
.header-account .content-right .messages.active{background: #383838 url(../images/messages-active.png) no-repeat center;}
.header-account .content-right .wr-notification .popup-notification{
	position: absolute;
    top: 55px;
    right: 0px;
    display: none;
    width: 355px;
    background: #ffffff;
    box-shadow: 0px 2px 9px rgba(51,51,51,0.2);
}
.header-account .content-right .wr-notification.active .popup-notification{
	display: block;
	max-height: 383px;
}
.header-account .content-right .wr-lk{
	position: relative;
	float: right;
	width: 230px;
}
.header-account .content-right .wr-lk .lk{
	display: inline-block;
    padding: 0px 20px;
    width: 100%;
    height: 55px;
    text-align: left;
    font: 16px/35px 'Circe-Regular';
    color: #ffffff;
    vertical-align: middle;
    background: url(../images/arrow-lk.png) no-repeat 196px 25px;
    border-left: 1px solid #585858;
}
.header-account .content-right .wr-lk.active .lk:hover,
.header-account .content-right .wr-lk.active .lk{background: #383838 url(../images/arrow-lk2.png) no-repeat 196px 25px;}
.header-account .content-right .wr-lk .popup-lk{
	position: absolute;
    top: 55px;
    left: 0px;
    display: none;
    width: 231px;
    background: #555555;
    border-radius: 0px 0px 6px 6px;
}
.header-account .content-right .wr-lk .popup-lk ul{
	display: block;
	margin: 0px;
}
.header-account .content-right .wr-lk .popup-lk ul li{display: block;}
.header-account .content-right .wr-lk .popup-lk ul li + li{
	margin-left: 0px;
	border-top: 1px solid #666666;
}
.header-account .content-right .wr-lk .popup-lk ul a{
	display: block;
    padding: 7px 0px 7px 48px;
    font: 14px "Circe-Regular";
    border-bottom: none;
}
.header-account .content-right .wr-lk .popup-lk ul a:hover{border-bottom: none;}
.header-account .content-right .wr-lk .popup-lk ul a.setting-lk{background: url(../images/setting2.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .popup-lk ul a.setting-lk:hover{background: #444444 url(../images/setting2.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .popup-lk ul a.balance{background: url(../images/credit-card.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .popup-lk ul a.balance:hover{background: #444444 url(../images/credit-card.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .popup-lk ul a.exit{background: url(../images/exit.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .popup-lk ul a.exit:hover{background: #444444 url(../images/exit.png) no-repeat 20px center;}
.header-account .content-right .wr-lk .lk:hover{background: #585858 url(../images/arrow-lk.png) no-repeat 196px 25px;}
.header-account .content-right .wr-lk .lk img{
	display: inline-block;
	margin-right: 15px;
	width: 34px;
	height: 34px;
	vertical-align: middle;
	border-radius: 50%;
}
.header-account .content-right .popup-notification .top{
	padding: 9px 20px;
	border-bottom: 1px solid #DDDDDD;
}
.header-account .content-right .popup-notification .top .settings{float: left;}
.header-account .content-right .popup-notification .top .clear-all{float: right;}
.header-account .content-right .popup-notification .top .settings,
.header-account .content-right .popup-notification .top .clear-all{
	font: 12px/13px 'Circe-Regular';
    color: #f9b64d;
    background: transparent;
    border-bottom: 1px solid transparent;
}
.header-account .content-right .popup-notification .top .settings:hover,
.header-account .content-right .popup-notification .top .clear-all:hover{border-bottom: 1px solid #f9b64d;}
.header-account .content-right .popup-notification .bottom{
	overflow: hidden;
	max-height: 311px;
}
.header-account .content-right .popup-notification .bottom .item{
	display: block;
	padding: 20px 20px;
	width: 100%;
}
.header-account .content-right .popup-notification .bottom .item:hover{background: #F4F4F4;}
.header-account .content-right .popup-notification .bottom .item + .item{border-top: 1px solid #DDDDDD;}
.header-account .content-right .popup-notification .bottom .item .wr-text,
.header-account .content-right .popup-notification .bottom .item .wr-image{
	display: inline-block;
	vertical-align: top;
}
.header-account .content-right .popup-notification .bottom .item .wr-image{margin-right: 5px;}
.header-account .content-right .popup-notification .bottom .item .wr-image img{
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
.header-account .content-right .popup-notification .bottom .item .wr-text{width: 190px;}
.header-account .content-right .popup-notification .bottom .item .wr-text .name{
	font: 14px "Circe-Regular";
	color: #444444;
}
.header-account .content-right .popup-notification .bottom .item .wr-text .text{
	font: 12px "Circe-Regular";
	color: #888888;
}
.header-account .content-right .popup-notification .bottom .item .date-notification{
	float: right;
	width: 75px;
	font: 12px "Circe-Regular";
	color: #bbbbbb;
	text-align: right;
}
.header-account .content-right .popup-notification .show-all-notifications{
	display: block;
	width: 100%;
	height: 40px;
	font: 18px/40px "Circe-Regular";
	text-align: center;
	color: #fff;
	background: #F9B64D;
}
.header-account .content-right .popup-notification .show-all-notifications:hover{background: #EDAE49;}


.wr-main-slider .slide{
	padding: 80px 0px 60px;
    height: 430px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box;
}
.wr-main-slider .wr-text{
	display: block;
	margin: 0 auto;
    width: 910px;
}
.wr-main-slider .txt-20-r,
.wr-main-slider .h1{color: #fff;}
.wr-main-slider .txt-20-r{
	margin-top: 20px;
	min-height: 58px;
	text-align: center;
}
.wr-main-slider .register{
	display: block;
    margin: 46px auto 0px;
    width: 298px;
    height: 52px;
    font: 18px/54px "Circe-Light";
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #7AB631;
    border-radius: 30px;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.15);
}
.wr-main-slider .register:hover{background: #6DA32B;}
.wr-main-slider .slick-prev,
.wr-main-slider .slick-next{
	top: 50%;
	width: 23px;
	height: 48px;
	transform: translate(0, -50%);
}
.wr-main-slider .slick-prev{
	left: 410px;
	background: url(../images/arrow-left.png) no-repeat center;
}
.wr-main-slider .slick-next{
	right: 410px;
	background: url(../images/arrow-right.png) no-repeat center;
}



.make-quick-order{padding-bottom: 90px;}
/*.make-quick-order .wr-item{display: none;}*/
.make-quick-order .top{
	padding-bottom: 20px;
	border-bottom: 1px solid #DDDDDD;
}
.make-quick-order .top .start-label{
	display: inline-block;
	margin-left: 65px;
	width: 80%;
	color: #888;
	text-align: center;
}
.make-quick-order .top .arrow-left{
	float: left;
    margin: 1px 25px 0px 0px;
    width: 19px;
    height: 25px;
    background: url(../images/arrow-left-order.png) no-repeat center right;
    cursor: pointer;
}
.make-quick-order .top .arrow-left.active{background: url(../images/arrow-left-order-active.png) no-repeat center right;}
.make-quick-order .top .arrow-right{
	float: right;
    margin: 1px 0px 0px 25px;
    width: 19px;
    height: 25px;
    background: url(../images/arrow-right-order.png) no-repeat center left;
    cursor: pointer;
}
.make-quick-order .top .arrow-right.active{background: url(../images/arrow-right-order-active.png) no-repeat center left;}
.make-quick-order .top .arrow-left:hover{background-position: center left;}
.make-quick-order .top .arrow-right:hover{background-position: center right;}
.make-quick-order .top .wr-item{
	display: inline-block;
	vertical-align: top;
}
.make-quick-order .top .item{display: none;}
.make-quick-order .top .selected{
	position: relative;
    display: inline-block;
    margin-right: 20px;
    padding: 1.5px 11px 1.5px;
    font: 16px "Circe-Light";
    color: #ffffff;
    vertical-align: top;
    background: #cccccc;
    border-radius: 4px 0px 0px 4px;
}
.make-quick-order .top .selected:after{
	position: absolute;
    top: 0px;
    right: -26px;
    content: "";
    display: block;
    border: 13px solid transparent;
    border-left: 13px solid #cccccc;
}
.make-quick-order .top p{
	position: relative;
	display: inline-block;
	margin-right: 25px;
    vertical-align: top;
    text-transform: uppercase;
    font: 14px "Circe-Regular";
    color: #999999;
}
.make-quick-order .top p:before{
	position: absolute;
    top: 4px;
    left: -16px;
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    background: url(../images/arrow-r.png) no-repeat;
}
.make-quick-order .top p span{
	font-family: "Circe-Light";
}
.make-quick-order .top .wr-text .txt-hidden{display: none;}
.make-quick-order .top .wr-text{
	display: inline-block;
    margin-top: 4px;
	vertical-align: top;
}
.make-quick-order .top .text:first-child:before{display: none;}
.make-quick-order .top .checkout{color: #7ab631;}
.make-quick-order .top .checkout:before{
	position: absolute;
    top: 4px;
    left: -19px;
    content: "";
    display: block;
    width: 11px;
    height: 10px;
    background: url(../images/arrow-r-active.png) no-repeat;
}
.make-quick-order .main-center{
	padding: 30px 0px;
	min-height: 335px;
	text-align: center;
	border-bottom: 1px solid #DDDDDD;
}
.make-quick-order .main-center .wr-type{
	margin: 0 auto;
    text-align: left;
    width: 1048px;
}
.make-quick-order .main-center .wr-all-item .item{
	display: inline-block;
    margin: 0px 18px;
    padding: 20px 0px 16px;
   	min-height: 122px;
    width: 170px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    cursor: pointer;
}
.make-quick-order .main-center .item.other{line-height: 82px;}
.make-quick-order .main-center .item.other .text{
	display: inline-block;
    margin-top: 0px !important;
    font: 18px "Circe-Regular" !important;
    vertical-align: middle;
    text-transform: uppercase;
    color: #555555;
}

.make-quick-order .main-center .wr-all-item .item + .item + .item + .item + .item + .item{margin-top: 30px;}

.make-quick-order .main-center .wr-all-item .item:hover{border-color: #888888;}

.make-quick-order .main-center .wr-type .item.active{border-color: #F8B64C;}
.make-quick-order .main-center .wr-type .item.active img{opacity: 1;}
.make-quick-order .main-center .wr-type .item img{opacity: 0.65;}
.make-quick-order .main-center .wr-mark .item .text,
.make-quick-order .main-center .wr-type .item .text{
	margin-top: 5px;
	font: 14px "Circe-Regular";
	color: #555555;
}
.make-quick-order .main-center .form{
	display: none;
	margin: 30px auto 0px;
	width: 1013px;
	text-align: left;
}
.make-quick-order .main-center .form .input-text{
	display: inline-block;
	padding: 0px 20px;
	width: 800px;
	height: 40px;
	font: 18px "Circe-Regular";
	color: #555555;
	vertical-align: top;
	border: none;
	box-shadow: 0px 0px 7px #cccccc;
	box-sizing: border-box;
}
.make-quick-order .main-center .form .input-text.required{
	border: 1px solid #E76751;
	box-shadow: none;
}
.make-quick-order .main-center .form .input-text::-webkit-input-placeholder { /* WebKit browsers */
	font: 18px "Circe-Regular";
	color: #cccccc;
	opacity: 1;
}
.make-quick-order .main-center .form .button{
	float: right;
    width: 170px;
    height: 41px;
    font: 16px/43px "Circe-Regular";
    text-transform: uppercase;
    color: #ffffff;
    background: #F8B64C;
    border-radius: 5px;
    border-bottom: 3px solid #E6A030;
}
.make-quick-order .main-center .form .button:hover{background: #E6A030;}
.make-quick-order .main-center .wr-mark{
	display: none;
	margin: 0 auto;
    text-align: left;
    width: 1048px;
}
.make-quick-order .main-center .wr-mark .item.active{border-color: #F8B64C;}
.make-quick-order .main-center .wr-mark .item .wr-image{
	height: 59px;
    line-height: 59px;
}
.make-quick-order .main-center .wr-mark .item.active .text{
	font: 14px "Circe-Bold";
	color: #222222;
}
.make-quick-order .main-center .wr-mark .item .wr-image img{
	display: inline-block;
	vertical-align: middle;
}
.make-quick-order .main-center .wr-model{
	display: none;
	margin: 0 auto;
    text-align: left;
    width: 1048px;
}
.make-quick-order .main-center .wr-model .item{
	min-height: 90px;
    line-height: 49px;
}
.make-quick-order .main-center .wr-model .item .text{
	display: inline-block;
	vertical-align: middle;
	font: 18px "Circe-Regular";
	color: #555555;
}
.make-quick-order .main-center .wr-model .item.active{border-color: #F8B64C;}
.make-quick-order .main-center .wr-model .item.active .text{color: #f9c570;}
.make-quick-order .main-center .wr-checkout{
	display: none;
    text-align: left;
}
.make-quick-order .main-center .wr-checkout .item-left{
	float: left;
	width: 280px;
}
.make-quick-order .main-center .wr-checkout .item-left .name{
	font: 25px/40px "Circe-Light";
	text-transform: uppercase;
	color: #7ab631;
}
.make-quick-order .main-center .wr-checkout .item-left .wr-text{
	margin-top: 15px;
	padding-top: 20px;
	border-top: 1px solid #EEEEEE;
}
.make-quick-order .main-center .wr-checkout .item-left .wr-text .text{
	font: 16px/30px "Circe-Light";
	color: #666666;
}
.make-quick-order .main-center .wr-checkout .item-right{
	float: right;
	width: 780px;
}
.make-quick-order .main-center .wr-checkout .item-right .wr-input-bottom .input-text::-webkit-input-placeholder,
.make-quick-order .main-center .wr-checkout .item-right textarea::-webkit-input-placeholder,
.make-quick-order .main-center .wr-checkout .item-right .wr-input-top .input-text::-webkit-input-placeholder { /* WebKit browsers */
	font: 18px "Circe-Regular";
	color: #cccccc;
	opacity: 1;
}
.make-quick-order .main-center .wr-checkout .item-right .wr-input-top .input-text:last-child{
	float: right;
	margin-right: 0px;
}
.make-quick-order .main-center .wr-checkout .item-right textarea{
	margin-top: 25px;
	padding: 10px 15px;
	width: 100%;
	height: 130px;
	color: #444444;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}
.make-quick-order .main-center .wr-checkout .item-right .wr-input-bottom{margin-top: 25px;}
.make-quick-order .main-center .wr-checkout .item-right .wr-input-bottom .input-text{
	margin-right: 0px;
    padding: 0px 15px 0px 70px;
    width: 515px;
    background: url(../images/promo.png) no-repeat 20px 1px;
}
.make-quick-order .main-center .wr-checkout .item-right .wr-input-bottom .input-submit{float: right;}
.make-quick-order .wr-thanks{
	display: none;
	text-align: center;
}
.make-quick-order .wr-thanks .item{
	padding: 40px 0px;
	margin: 0 auto;
    width: 600px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.make-quick-order .wr-thanks .wr-top{
	margin: 0px auto;
	width: 470px;
    padding-bottom: 30px;
	border-bottom: 1px solid #EBEBEB;
}
.make-quick-order .wr-thanks .wr-top .wr-text,
.make-quick-order .wr-thanks .wr-top img{
	display: inline-block;
	vertical-align: middle;
}
.make-quick-order .wr-thanks .wr-top .wr-text{
   	margin-left: 25px;
    width: 370px;
    text-align: left;
}
.make-quick-order .wr-thanks .wr-top .wr-text .name{
	font: 24px "Circe-Regular";
	color: #7ab631;
}
.make-quick-order .wr-thanks .wr-top .wr-text .text{
	margin-top: 5px;
	font: 20px "Circe-Regular";
	color: #6c6c6c;
}
.make-quick-order .wr-thanks .go-store{
	margin: 35px auto 0px;
	display:block;
	width: 170px;
	height: 33px;
	font: 14px/34px "Circe-Light";
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: #555555;
	border-radius: 5px;
}
.make-quick-order .wr-thanks .go-store:hover{background: #777777;}
.make-quick-order .wr-thanks .make-new-order{
	margin-top: 20px;
	display: inline-block;
	font: 18px "Circe-Regular";
	color: #444444;
	text-decoration: underline;
	cursor: pointer;
}
.make-quick-order .wr-thanks .make-new-order:hover{text-decoration: none;}



.about-us{
	padding-bottom: 60px;
    background: #FAFAFA url(../images/bg-about-us.jpg) no-repeat;
    background-size: cover;
}
.about-us .wr-image{
	float: left;
    margin-top: 6px;
}
.about-us .wr-image img{
	display: block;
	opacity: 0.4;
}
.about-us .wr-text{
	float: right;
	width: 820px;
}




.our-masters{
	padding-bottom: 60px;
	text-align: center;
}
.our-masters .item{
	display: inline-block;
	margin-right: 30px;
    padding: 23px 20px;
    width: 340px;
    text-align: left;
    vertical-align: top;
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(67,67,67,0.23);
    border-radius: 10px;
}
.our-masters .item:nth-child(3n+3){margin-right: 0px;}
.our-masters .item .top{padding-bottom: 20px;}
.our-masters .item .top .content-left{float: left;}
.our-masters .item .top .content-left .wr-image,
.our-masters .item .top .content-left .wr-name,
.our-masters .item .top .content-left{
	display: inline-block;
	vertical-align: middle;
}
.our-masters .item .top .content-left .wr-image{
	position: relative;
	margin-right: 9px;
}
.our-masters .item .top .content-left .wr-image img{
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.our-masters .item .top .content-left .wr-image .assessment{
	position: absolute;
    bottom: -9px;
    left: 50%;
    padding: 0px 0px;
    width: 42px;
    height: 19px;
    text-align: center;
    background: #F7941D;
    transform: translate(-50%, 0);
    border-radius: 7px;
}
.our-masters .item .top .content-left .wr-image .assessment .name{
	display: inline-block;
    margin-top: 4px;
    font: 13px/13px "Circe-Regular";
    color: #fff;
    vertical-align: top;
}
.our-masters .item .top .content-left .wr-image .assessment img{
	display: inline-block;
    margin-top: 4px;
    width: auto;
    height: auto;
    vertical-align: top;
}
.our-masters .item .top .content-left .wr-name .name{
	width: 150px;
    text-transform: uppercase;
}
.our-masters .item .top .img{
	float: right;
    margin-top: 18px;
}
.our-masters .item .desc{
	padding: 15px 0px;
	border-top: 1px solid #EBEBEB;
}
.our-masters .item .desc .text{line-height: 20px;}
.our-masters .item .advantages-masters{
	padding: 15px 0px;
	border-top: 1px solid #EBEBEB;
}
.our-masters .item .advantages-masters li{
	padding-left: 25px;
    background: url(../images/ok.png) no-repeat 0px 1px;
}
.our-masters .item .advantages-masters li + li{margin-top: 5px;}
.our-masters .item .bottom{
	padding-top: 20px;
	border-top: 1px solid #EBEBEB;
}
.our-masters .item .bottom .item-bottom .wr-image,
.our-masters .item .bottom .item-bottom .wr-text,
.our-masters .item .bottom .item-bottom{
	display: inline-block;
	vertical-align: top;
}
.our-masters .item .bottom .item-bottom:last-child{float: right;}
.our-masters .item .bottom .item-bottom .wr-image{margin-right: 10px;}
.our-masters .item .bottom .item-bottom .wr-image img{display: block;}
.our-masters .item .bottom .item-bottom .wr-text{width: 90px;}
.our-masters .item .bottom .item-bottom .wr-text .name{
	margin-bottom: 3px;
	line-height: 16px;
}



.questions-remained{
	padding-bottom: 60px;
	border-top: 1px solid #DDDDDD;
}
.questions-remained .h2{padding-bottom: 10px;}
.questions-remained .text{text-align: center;}
.questions-remained form{
	margin-top: 40px;
	text-align: center;
}



.contact .wr-content{
	padding: 30px 45px;
	width: 100%;
	box-shadow: 0px 2px 13px rgba(0,0,0,0.1);
}
.contact .wr-content .top{padding-bottom: 25px;}
.contact .wr-content .top .content-right{
	float: left;
    margin-top: 7px;
    width: 700px;
}
.contact .wr-content .top .content-right a{
	font: 16px "Circe-Regular";
	color: #444444;
}
.contact .wr-content .top .content-right a:hover{text-decoration: underline;}
.contact .wr-content .top .content-right .mail{
	padding-left: 28px;
	background: url(../images/mail-grey.png) no-repeat 0px 4px;
}
.contact .wr-content .top .content-right .phone{
    padding-left: 25px;
    background: url(../images/phone-grey.png) no-repeat 0px 3px;
}
.contact .wr-content .top .content-right > *{
    display: inline-block;
	margin-left: 32px;
    vertical-align: top;
}
.contact .wr-content .top .content-right > *:nth-child(3n+1){margin-left: 0px;}
.contact .wr-content .top .content-right > * + * + * + *{margin-top: 15px;}
.contact .wr-content .top .social{float: right;}
.contact .wr-content .top .social a{
	display: inline-block;
	vertical-align: top;
}
.contact .wr-content .top .social a + a{margin-left: 18px;}
.contact .wr-content .top .social a img{
	display: block;
	border-radius: 50%;
	transition: all 0.5s;
}
.contact .wr-content .top .social a img:hover{opacity: 0.7;}
.contact .wr-content .bottom{
	padding-top: 25px;
	border-top: 1px solid #EEEEEE;
}


.maps{margin-top: 60px}
.maps .wr-text{
	display: block;
	margin: 0 auto;
	width: 1100px;
}
.maps .text{
	margin-bottom: 25px;
	text-align: center;
}
.maps .item{
	width: 100%;
	height: 440px;
}


.answers-and-questions{
	padding-bottom: 80px;
	background: url(../images/bg-questions-answers.jpg) repeat-y center;
}
.answers-and-questions .questions-answers{
	margin: 0 auto;
	width: 780px;
}
.answers-and-questions .item + .item{margin-top: 25px;}
.answers-and-questions .wr-name{
	padding: 5px 20px;
	width: 100%;
    border: 1px solid #C4C2C2;
    cursor: pointer;
}
.answers-and-questions .wr-name:hover{background: #E7E7E7;}
.answers-and-questions .wr-name .name{
	padding-right: 40px;
	font: 20px "Circe-Light";
	color: #444444;
	text-shadow: 0px 0px;
	background: url(../images/arrow-bottom.png) no-repeat center right;
}
.answers-and-questions .wr-text{
	display: none;
	margin-top: 20px;
}
.answers-and-questions .wr-text .text{text-align: justify;}


.about-company{padding-bottom: 35px;}
.about-company .h2{padding: 50px 0px 25px;}
.about-company .wrapper-content{margin-bottom: 30px;}
.about-company .wrapper-content .text{text-align: justify;}
.about-company .wr-slider-about-company{margin: 0px -15px 0px;}
.about-company .slider-about-company img{margin: 0px 15px;}
.about-company .slider-about-company .slick-prev{
    top: 50%;
	left: 45px;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    border-radius: 50%;
}
.about-company .slider-about-company .slick-prev:before{
	width: 50px;
	height: 50px;
	background: #ffffff url(../images/arrow-about-company.png) no-repeat center;
	border-radius: 50%;
}
.about-company .slider-about-company .slick-next{
	top: 50%;
	right: 45px;
    transform: translate(0, -50%) rotate(180deg);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    border-radius: 50%;
}
.about-company .slider-about-company .slick-next:before{
	width: 50px;
	height: 50px;
	background: #ffffff url(../images/arrow-about-company.png) no-repeat center;
	border-radius: 50%;
}
.about-company .where-we{margin-bottom: 40px;}
.about-company .where-we .wr-dop{position: relative;}
.about-company .where-we .wr-item{border-bottom: 1px solid #DDDDDD;}
.about-company .where-we .wr-dop:nth-child(2):after{
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	width: 1px;
	height: 100%;
	background: #DDDDDD;
}
.about-company .where-we .item{
	padding-bottom: 30px;
	width: 510px;
}
.about-company .where-we .item .name{
	margin-bottom: 25px;
	font: 18px/34px "Circe-Regular";
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.about-company .where-we .item .wr-text + .wr-text{margin-top: 20px;}
.about-company .where-we .item .wr-text .number{
	display: inline-block;
	width: 45px;
	height: 45px;
	font: 24px/45px "Circe-Regular";
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
}
.about-company .where-we .item .wr-text .text{
	display: inline-block;
    margin-left: 17px;
    width: 439px;
    line-height: 22px;
    vertical-align: middle;
}
.about-company .where-we .item:nth-child(1){
	float: left;
}
.about-company .where-we .item:nth-child(1) .name{background: #7AB631;}
.about-company .where-we .item:nth-child(1) .wr-text .number{
	color: #7ab631;
	border: 1px solid #7DB836;
}
.about-company .where-we .item:nth-child(2){
	float: right;
	width: 550px;
	padding-left: 40px;
}
.about-company .where-we .item:nth-child(2) .name{background: #F4B213;}
.about-company .where-we .item:nth-child(2) .wr-text .number{
	color: #f4b213;
	border: 1px solid #F4B10F;
}



.main-wrapper{
	position: relative;
    min-height: 100%;
    padding-bottom: 280px;
    padding: 105px 0px 280px;
    background: #F5F5F5;
}
.main-order .content-left{
	float: left;
	padding: 23px 0px 25px;
	width: 300px;
	background: #ffffff;
	border: 1px solid #E5E4E4;
	border-radius: 5px;
}
.main-order .content-left .name{
	margin-bottom: 11px;
	padding: 0px 25px;
	font: 18px "Circe-Bold";
	color: #444444;
}
.main-order .content-left .all-tabs-order{margin: 0px -1px;}
.main-order .content-left ul li{border-top: 1px solid #EEEEEE;}
.main-order .content-left ul li:last-child{border-bottom: 1px solid #EEEEEE;}
.main-order .content-left .wr-item{
	position: relative;
	display: block;
	padding: 8px 25px;
	width: 100%;
	font: 16px "Circe-Regular";
	color: #666666;
	text-align: left;
	background: transparent;
	cursor: pointer;
}
.main-order .content-left .wr-item:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: none;
    width: 6px;
    height: 100%;
    background: #409AD8;
}
.main-order .content-left .wr-item.all-orders:after{background: }

.main-order .content-left .wr-item.completed.active:hover,
.main-order .content-left .wr-item.completed.active:hover .number,
.main-order .content-left .wr-item.completed.active .number,
.main-order .content-left .wr-item.completed.active,
.main-order .content-left .wr-item.auction.active:hover,
.main-order .content-left .wr-item.auction.active:hover .number,
.main-order .content-left .wr-item.auction.active .number,
.main-order .content-left .wr-item.auction.active,
.main-order .content-left .wr-item.in-the-work.active:hover,
.main-order .content-left .wr-item.in-the-work.active:hover .number,
.main-order .content-left .wr-item.in-the-work.active .number,
.main-order .content-left .wr-item.in-the-work.active,
.main-order .content-left .wr-item.on-guarantee.active:hover,
.main-order .content-left .wr-item.on-guarantee.active:hover .number,
.main-order .content-left .wr-item.on-guarantee.active .number,
.main-order .content-left .wr-item.on-guarantee.active,
.main-order .content-left .wr-item.draft.active:hover,
.main-order .content-left .wr-item.draft.active:hover .number,
.main-order .content-left .wr-item.draft.active .number,
.main-order .content-left .wr-item.draft.active,
.main-order .content-left .wr-item.all-orders.active:hover,
.main-order .content-left .wr-item.all-orders.active:hover .number,
.main-order .content-left .wr-item.all-orders.active .number,
.main-order .content-left .wr-item.all-orders.active{color: #ffffff;}

.main-order .content-left .wr-item.all-orders.active:after,
.main-order .content-left .wr-item.draft.active:after,
.main-order .content-left .wr-item.auction.active:after,
.main-order .content-left .wr-item.on-guarantee.active:after,
.main-order .content-left .wr-item.in-the-work.active:after,
.main-order .content-left .wr-item.completed.active:after,
.main-order .content-left .wr-item.auction.active:after{display: block;}

.main-order .content-left .wr-item.auction.active{background: #F67165;}
.main-order .content-left .wr-item.auction:after{background: #fc5d4f;}
.main-order .content-left .wr-item.auction:hover .number,
.main-order .content-left .wr-item.auction:hover{color: #F67165;}

.main-order .content-left .wr-item.completed.active{background: #5FADE3;}
.main-order .content-left .wr-item.completed:after{background: #409AD8;}
.main-order .content-left .wr-item.completed:hover .number,
.main-order .content-left .wr-item.completed:hover{color: #5FADE3;}

.main-order .content-left .wr-item.in-the-work.active{background: #7AB631;}
.main-order .content-left .wr-item.in-the-work:after{background: #66a51f;}
.main-order .content-left .wr-item.in-the-work:hover .number,
.main-order .content-left .wr-item.in-the-work:hover{color: #7AB631;}

.main-order .content-left .wr-item.on-guarantee.active{background: #FEAD2E;}
.main-order .content-left .wr-item.on-guarantee:after{background: #fe9c21;}
.main-order .content-left .wr-item.on-guarantee:hover .number,
.main-order .content-left .wr-item.on-guarantee:hover{color: #FEAD2E;}

.main-order .content-left .wr-item.draft.active{background: #555555;}
.main-order .content-left .wr-item.draft:after{background: #444444;}
.main-order .content-left .wr-item.draft:hover .number,
.main-order .content-left .wr-item.draft:hover{color: #555555;}

.main-order .content-left .wr-item.all-orders.active{background: #444444;}
.main-order .content-left .wr-item.all-orders:after{background: #222222;}
.main-order .content-left .wr-item.all-orders:hover .number,
.main-order .content-left .wr-item.all-orders:hover{color: #444444;}

.main-order .content-left .wr-item:hover:after{display: block;}

.main-order .content-left .wr-item.active{background: #5FADE3;}
.main-order .content-left .wr-item .number{
	float: right;
	margin-top: 4.5px;
	color: #666666;
}
.main-order .content-left .wr-item.active-tab{color: #ffffff;}
.main-order .content-left .wr-item.active-tab .number{color: #ffffff;}
.main-order .content-right{
	float: right;
	width: 755px;
}
.main-order .content-right h2{
	margin-bottom: 16px;
	font: 30px/31px "Circe-Regular";
	color: #444444;
}
.main-order .content-right .input-submit,
.main-order .content-right .input-search{
	display: inline-block;
	vertical-align: top;
}
.main-order .content-right .input-search{
	padding: 0px 10px 0px 37px;
    width: 470px;
    height: 33px;
    font: 14px "Circe-Regular";
    color: #444444;
    border: 1px solid #E5E4E4;
    border-radius: 4px;
    background: #ffffff url(../images/search.png) no-repeat 12px 9px;
    box-sizing: border-box;
}
.main-order .content-right .input-search::-webkit-input-placeholder { /* WebKit browsers */
	font: 14px "Circe-Regular";
    color: #888888;
	opacity: 1;
}
.main-order .content-right .input-submit{
	margin-left: 7px;
	width: 110px;
    height: 33px;
    font: 14px/35px Circe-Regular;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 2px solid #2D2D2D;
    background: #555555;
    border-radius: 4px;
}
.main-order .content-right .input-submit:hover{background: #444444;}
.main-order .wr-tab-order{margin-top: 30px;}
.main-order .wr-tab-order .tab-order + .tab-order{margin-top: 25px;}
.main-order .wr-tab-order .wr-item{
	width: 100%;
	border: 1px solid #E5E4E4;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
}
.main-order .wr-tab-order .wr-item + .wr-item{margin-top: 25px;}
.main-order .wr-tab-order .top{
	padding: 25px;
	min-height: 189px;
}
.main-order .wr-tab-order .top .item-left{
	float: left;
	width: 420px;
}
.main-order .wr-tab-order .top .item-left .date{
	margin-bottom: 18px;
	padding-left: 25px;
	font: 14px "Circe-Regular";
	color: #444444;
	background: url(../images/schedule-grey.png) no-repeat left center;
}
.main-order .wr-tab-order .top .item-left .name-order{
	display: inline-block;
    font: 18px/19px "Circe-Bold";
}
.main-order .wr-tab-order .top .item-left .name-order:hover{text-decoration: underline;}
.main-order .wr-tab-order .top .item-left .desc-order{
	margin-top: 5px;
	font: 16px/24px "Circe-Regular";
	color: #444444;
}
.main-order .wr-tab-order .top .item-right{
	float: right;
	width: 240px;
}
.main-order .wr-tab-order .top .item-right .state{
	width: 110px;
	height: 25px;
	font: 14px/25px "Circe-Regular";
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
}
.main-order .wr-tab-order .top .item-right .wr-text{
	margin-top: 15px;
}
.main-order .wr-tab-order .top .item-right .wr-text .name{
	margin-bottom: 3px;
	font: 18px/24px "Circe-Bold";
	color: #888888;
}
.main-order .wr-tab-order .top .item-right .wr-text .text{
	font: 14px/24px "Circe-Bold";
	color: #888888;
}
.main-order .wr-tab-order .bottom{padding: 15px 25px;	}
.main-order .wr-tab-order .bottom .state{
	float: left;
    margin-top: 6px;
    padding-left: 27px;
    font: 14px "Circe-Regular";
    color: #888888;
}
.main-order .wr-tab-order .bottom .bottom-right{
	float: right;
	text-align: left;
}
.main-order .wr-tab-order .bottom .bottom-right .file{
	display: inline-block;
	font: 14px "Circe-Regular";
	color: #888888;
	vertical-align: middle;
}
.main-order .wr-tab-order .bottom .bottom-right .open-order{
	display: inline-block;
    margin-right: 69px;
    margin-left: 10px;
    width: 170px;
    height: 33px;
    font: 14px/35px "Circe-Light";
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
}
.main-order .wr-tab-order .auction .name-order{color: #fc796e;}
.main-order .wr-tab-order .auction .top .state{background: #FB9A91;}
.main-order .wr-tab-order .auction .bottom{background: #FEF6F5;}
.main-order .wr-tab-order .auction .bottom .state{background: url(../images/info-1.png) no-repeat left center;}
.main-order .wr-tab-order .auction .bottom .bottom-right .open-order{
	background: #F67165;
	border-bottom: 2px solid #E15347;
}
.main-order .wr-tab-order .auction .bottom .bottom-right .open-order:hover{background: #fc5d4f;}
.main-order .wr-tab-order .in-the-work .name-order{color: #7ab632;}
.main-order .wr-tab-order .in-the-work .top .state{background: #ABD678;}
.main-order .wr-tab-order .in-the-work .bottom{background: #F5FDEC;}
.main-order .wr-tab-order .in-the-work .bottom .state{background: url(../images/info-2.png) no-repeat left center;}
.main-order .wr-tab-order .in-the-work .bottom .bottom-right .open-order{
	background: #7AB631;
	border-bottom: 2px solid #55861C;
}
.main-order .wr-tab-order .in-the-work .bottom .bottom-right .open-order:hover{background: #66a51f;}
.main-order .wr-tab-order .in-the-work .top .item-right .wr-text .name{
	margin-bottom: 10px;
	font: 16px "Circe-Regular";
	color: #444444;
	text-shadow: 0px 0px;
}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-txt,
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-image{
	display: inline-block;
	vertical-align: middle;
}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-txt{width: 170px;}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-image{margin-right: 9px;}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-image img{
	display: block;
	border-radius: 50%;
}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-txt .executor{
	font: 16px "Circe-Regular";
	color: #7ab632;
}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-txt .executor:hover{text-decoration: underline;}
.main-order .wr-tab-order .in-the-work .wr-text .wr-info .wr-txt .text{
	font: 14px "Circe-Regular";
	color: #888888;
}
.main-order .wr-tab-order .on-guarantee .name-order{color: #fead2e;}
.main-order .wr-tab-order .on-guarantee .top .state{background: #FBCE44;}
.main-order .wr-tab-order .on-guarantee .bottom{background: #FDF7E5;}
.main-order .wr-tab-order .on-guarantee .bottom .state{background: url(../images/info-3.png) no-repeat left center;}
.main-order .wr-tab-order .on-guarantee .bottom .bottom-right .open-order{
	background: #FEAD2E;
	border-bottom: 2px solid #DB9619;
}
.main-order .wr-tab-order .on-guarantee .bottom .bottom-right .open-order:hover{background: #fe9c21;}
.main-order .wr-tab-order .on-guarantee .top .item-right .wr-text .name{
	margin-bottom: 10px;
	font: 16px "Circe-Regular";
	color: #444444;
	text-shadow: 0px 0px;
}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-txt,
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-image{
	display: inline-block;
	vertical-align: middle;
}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-txt{width: 170px;}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-image{margin-right: 9px;}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-image img{
	display: block;
	border-radius: 50%;
}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-txt .executor{
	font: 16px "Circe-Regular";
	color: #fead2e;
}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-txt .executor:hover{text-decoration: underline;}
.main-order .wr-tab-order .on-guarantee .wr-text .wr-info .wr-txt .text{
	font: 14px "Circe-Regular";
	color: #888888;
}
.main-order .wr-tab-order .draft .name-order{color: #444444;}
.main-order .wr-tab-order .draft .top .state{background: #AAAAAA;}
.main-order .wr-tab-order .draft .bottom{background: #EBEAEA;}
.main-order .wr-tab-order .draft .bottom .state{background: url(../images/info-4.png) no-repeat left center;}
.main-order .wr-tab-order .draft .bottom .bottom-right .open-order{
	background: #555555;
	border-bottom: 2px solid #2F2F2F;
}
.main-order .wr-tab-order .draft .bottom .bottom-right .open-order:hover{background: #444444;}
.main-order .wr-tab-order .completed .name-order{color: #5fade3;}
.main-order .wr-tab-order .completed .top .state{background: #5FADE3;}
.main-order .wr-tab-order .completed .bottom{background: #E9F5FD;}
.main-order .wr-tab-order .completed .bottom .state{background: url(../images/info-5.png) no-repeat left center;}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-image{margin-right: 9px;}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-image img{
	display: block;
    border-radius: 50%;
}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-txt,
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-image{
	display: inline-block;
    vertical-align: middle;
}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-txt{width: 170px;}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-txt .executor{
	font: 16px "Circe-Regular";
    color: #5fade3;
}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-txt .executor:hover{text-decoration: underline;}
.main-order .wr-tab-order .completed .wr-text .wr-info .wr-txt .text{
	font: 14px "Circe-Regular";
    color: #888888;
}
.main-order .wr-tab-order .completed .bottom-right .wr-rate{
	display: inline-block;
    margin-left: 10px;
    padding: 8px 20px;
    width: 238px;
    vertical-align: middle;
    background: #ffffff;
    border-radius: 30px;
}
.main-order .wr-tab-order .completed .bottom-right .wr-rate .text{
	display: inline-block;
	font: 14px "Circe-Regular";
	color: #444444;
}
.main-order .wr-tab-order .completed .bottom-right .wr-rate .rate{
	float: right;
    margin-top: 1px;
    width: 118px;
    height: 16px;
    background: url(../images/star-white.png) repeat-x;
}
.main-order .wr-tab-order .completed .bottom-right .wr-rate .rate-dop{
	height: 100%;
	background: url(../images/star-active.png) repeat-x 0px -1px;
}



.main-lk .content-left{
	float: left;
	width: 300px;
}
.main-lk .content-left .wr-main-avatar{
	margin-bottom: 20px;
	border: 1px solid #E5E4E4;
	border-radius: 3px;
	background: #ffffff;
}
.main-lk .content-left .main-avatar{
	padding: 25px 25px 45px;
	width: 100%;
}
.main-lk .main-avatar .wr-image{margin-bottom: 23px;}
.main-lk .main-avatar .wr-image img{
	width: 250px;
    height: 258px;
    border-radius: 5px;
}
.main-lk .main-avatar .wr-rate{}
.main-lk .main-avatar .assessment .text,
.main-lk .main-avatar .wr-rate .text{
	float: left;
	font: 18px "Circe-Regular";
	color: #888888;
}
.main-lk .main-avatar .rate{
	float: right;
    margin-top: 3px;
    width: 144px;
    height: 20px;
    background: url(../images/star-white-big.png) repeat-x;
}
.main-lk .main-avatar .rate .rate-dop{
    height: 100%;
    background: url(../images/star-active-big.png) repeat-x 0px 0px;
}
.main-lk .main-avatar .assessment{margin-top: 15px;}
.main-lk .main-avatar .assessment .number{
	float: right;
	width: 70px;
	font: 18px "Circe-Regular";
	text-align: right;
	color: #444444;
}
.main-lk .wr-main-avatar .wr-account{
	padding: 6px 0px;
    text-align: center;
    border-top: 1px solid #E5E4E4;
}
.main-lk .wr-main-avatar .wr-account .account{
	display: inline-block;
    padding-left: 25px;
    font: 16px "Circe-Regular";
    color: #cccccc;
    background: url(../images/setting.png) no-repeat 0px 2px;
}
.main-lk .wr-main-avatar .wr-account .account:hover{color: #444444;}
.main-lk .short-info{
	margin-bottom: 20px;
	padding: 20px 25px 25px;
	width: 100%;
	border: 1px solid #E5E4E4;
	border-radius: 3px;
	background: #ffffff;
}
.main-lk .short-info .name{
	margin-bottom: 8px;
	font: 18px "Circe-Bold";
	color: #444444;
}
.main-lk .short-info .text{
    min-height: 72px;
	font: 14px/24px "Circe-Regular";
    color: #888888;
}
.main-lk .short-info .read-full-info{
	margin-top: 10px;
	font: 14px "Circe-Regular";
	color: #7ab631;
	text-decoration: underline;
	cursor: pointer;
}
.main-lk .short-info .read-full-info:hover{text-decoration: none;}
.main-lk .achievements{
	padding: 20px 25px 15px;
	width: 100%;
	border: 1px solid #E5E4E4;
	border-radius: 3px;
	background: #ffffff;
}
.main-lk .achievements .name{
	margin-bottom: 10px;
	font: 18px "Circe-Bold";
	color: #444444;
}
.main-lk .achievements .wr-item{margin-left: -3px;}
.main-lk .achievements .item{
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 3px;
    padding: 5px 25px;
    font: 14px "Circe-Regular";
    text-align: center;
    color: #aaaaaa;
    vertical-align: top;
    background: #EEEEEE;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0s;
}
.main-lk .achievements .item:hover{
	color: #ffffff;
	background: #999999;
}
.main-lk .achievements .item:hover .item-dop{display: block;}
.main-lk .achievements .item .item-dop{
	position: absolute;
    bottom: 46px;
    left: 0px;
    display: none;
    padding: 9px 10px 10px;
    width: 214px;
    font: 14px/16px "Circe-Regular";
    text-align: left;
    color: #ffffff;
    background: #5FADE3;
    border-radius: 4px;
}
.main-lk .achievements .item .item-dop:after{
	position: absolute;
    bottom: -12px;
    left: 23px;
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background: url(../images/decor1.png) no-repeat 0px 0px;
}
.main-lk .content-right{
	float: right;
	width: 755px;
}
.main-lk .content-right .name-user{
	font: 30px "Circe-Regular";
	color: #444444;
}
.main-lk .content-right .desc{
	font: 18px "Circe-Regular";
	color: #888888;
}
.main-lk .content-right .all-tabs{margin: 23px 0px 20px;}
.main-lk .content-right .all-tabs ul li{
	display: inline-block;
	vertical-align: top;
}
.main-lk .content-right .all-tabs ul li + li{margin-left: 25px;}
.main-lk .content-right .all-tabs ul a{
	display: inline-block;
    padding-left: 35px;
    font: 18px "Circe-Regular";
    color: #444444;
    opacity: 0.4;
}
.main-lk .content-right .all-tabs ul a:hover,
.main-lk .content-right .all-tabs ul a.active{opacity: 1;}
.main-lk .content-right .all-tabs ul a.recent-orders{background: url(../images/recent-orders.png) no-repeat 0px 3px;}
.main-lk .content-right .all-tabs ul a.info{background: url(../images/info.png) no-repeat center left;}




.main-lk .content-right .wr-tab .tab{display: none;}
.main-lk .content-right .wr-tab .tab:first-child{display: block;}
.main-lk .content-right .wr-item{
	width: 100%;
	border: 1px solid #E5E4E4;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
}
.main-lk .content-right .wr-item + .wr-item{margin-top: 25px;}
.main-lk .content-right .wr-item .top{
	padding: 25px;
    min-height: 185px;
}
.main-lk .content-right .wr-item .top .item-left{
	float: left;
	width: 420px;
}
.main-lk .content-right .wr-item .top .item-left .date{
	margin-bottom: 18px;
	padding-left: 25px;
	font: 14px "Circe-Regular";
	color: #444444;
	background: url(../images/schedule-grey.png) no-repeat left center;
}
.main-lk .content-right .wr-item .top .item-left .name-order{
	display: inline-block;
    font: 18px/19px "Circe-Bold";
    color: #5fade3;
}
.main-lk .content-right .wr-item .top .item-left .name-order:hover{text-decoration: underline;}
.main-lk .content-right .wr-item .top .item-left .desc-order{
	margin-top: 5px;
	font: 16px/24px "Circe-Regular";
	color: #444444;
}
.main-lk .content-right .wr-item .top .item-right{
	float: right;
	text-align: center;
	width: 236px;
}
.main-lk .content-right .wr-item .top .item-right .wr-image img{
	display: block;
	width: 236px;
	height: 107px;
}
.main-lk .content-right .wr-item .top .item-right .show-more{
	display: inline-block;
    margin-top: 8px;
    padding-left: 17px;
    font: 14px "Circe-Regular";
    text-decoration: underline;
    color: #7ab631;
    background: url(../images/plus.png) no-repeat 0px 5px;
    cursor: pointer;
}
.main-lk .content-right .wr-item .top .item-right .show-more:hover{text-decoration: none;}
.main-lk .content-right .wr-item .wr-photo{
	display: none;
    margin: 0 auto;
    padding: 25px 0px 30px;
    width: 703px;
    border-top: 1px solid #E0E0E0;
}
.main-lk .content-right .wr-item .wr-photo a{
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 13px;
	vertical-align: top;
}
.main-lk .content-right .wr-item .wr-photo a:nth-child(4n+1){margin-left: 0px;}
.main-lk .content-right .wr-item .wr-photo img{display: block;}
.main-lk .content-right .wr-item .wr-photo .wr-roll-up{
	margin-top: 10px;
	text-align: center;
}
.main-lk .content-right .wr-item .wr-photo .roll-up{
	display: inline-block;
    padding-right: 23px;
    font: 18px "Circe-Regular";
    color: #666666;
    background: url(../images/arrow-top.png) no-repeat center right;
    cursor: pointer;
}
.main-lk .content-right .bottom{
	padding: 15px 25px;
	background: #E9F5FD;
}
.main-lk .content-right .bottom .done-price{
	float: left;
    padding: 7px 25px 6px;
    background: #ffffff;
    border-radius: 25px;
}
.main-lk .content-right .bottom .done-price p{
	display: inline-block;
	font: 16px "Circe-Regular";
	color: #444444;
	vertical-align: top;
}
.main-lk .content-right .bottom .done-price .name{
	padding-left: 20px;
    background: url(../images/ok.png) no-repeat 0px 4px;
    background-size: 13px;
}
.main-lk .content-right .bottom .done-price .text{
	margin-left: 8px;
    text-align: left;
}
.main-lk .content-right .bottom .wr-rate{
	float: right;
    margin-left: 10px;
    padding: 8px 20px;
    width: 238px;
    vertical-align: middle;
    background: #ffffff;
    border-radius: 30px;
}
.main-lk .content-right .bottom .wr-rate .text{
	display: inline-block;
	font: 14px "Circe-Regular";
	color: #444444;
}
.main-lk .content-right .bottom .wr-rate .rate{
	float: right;
    margin-top: 1px;
    width: 118px;
    height: 16px;
    background: url(../images/star-white.png) repeat-x;
}
.main-lk .content-right .bottom .wr-rate .rate-dop{
	height: 100%;
	background: url(../images/star-active.png) repeat-x 0px -1px;
}
.main-lk .content-right .info-wr-text{
	padding: 23px 25px 25px;
	width: 100%;
    border: 1px solid #E5E4E4;
    border-radius: 3px;
    background: #ffffff;
}
.main-lk .content-right .info-wr-text + .info-wr-text{margin-top: 20px;}
.main-lk .content-right .info-wr-text .title1{
	margin-bottom: 7px;
	font: 21px "Circe-Bold";
	color: #444444;
}
.main-lk .content-right .info-wr-text .title2{
	margin-bottom: 9px;
	font: 18px "Circe-Bold";
	color: #444444;
}
.main-lk .content-right .info-wr-text .text{
	font: 16px/24px "Circe-Regular";
	color: #888888;
}
.main-lk .content-right .info-wr-text .text + .text{margin-top: 10px;}
.main-lk .content-right .info-wr-text .wr-text + .wr-text{margin-top: 20px;}




.wr-footer-copyright{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 190px;
}
.footer{
	padding: 25px 0px;
	background: #535353 url(../images/bg-footer.jpg) repeat;
}
.footer .item{
	display: inline-block;
    width: 240px;
    vertical-align: top;
}
.footer .item + .item{margin-left: 20px;}
.footer .item ul li{display: block;}
.footer .item ul li + li{margin-top: 9px;}
.footer .item ul a{
	display: inline-block;
	line-height: 14px;
	border-bottom: 1px solid transparent;
	color: #fff;
}
.footer .item ul a:hover{border-bottom: 1px solid #fff;}
.footer .item .mail{
	padding-left: 27px;
	background: url(../images/mail.png) no-repeat 0px 2px;
}
.footer .item .phone{
	margin-top: 18px;
	padding-left: 27px;
	background: url(../images/phone.png) no-repeat 0px 0px;
}
.footer .item .schedule{
	margin-top: 18px;
	padding-left: 27px;
	background: url(../images/schedule.png) no-repeat 0px 0px;
}
.footer .item .schedule,
.footer .item .phone,
.footer .item .mail{
	display: inline-block;
	line-height: 20px;
	color: #ffffff;
}
.footer .item .phone:hover,
.footer .item .mail:hover{text-decoration: underline;}
.footer .content-right{
	float: right;
	text-align: right;
}
.footer .content-right .made-orders .text{
	font: 14px "Circe-Light";
	text-transform: uppercase;
	color: #fff;
}
.footer .content-right .made-orders .wr-item .number{
	display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 25px;
    font: 16px/27px "Circe-Light";
    text-align: center;
    color: #fff;
    background: #222222;
    border-radius: 3px;
}
.footer .content-right .made-orders .wr-item{margin-top: 5px;}
.footer .content-right .made-orders .wr-item .number.number-margin{margin-left: 5px;}
.footer .content-right .social{margin-top: 20px;}
.footer .content-right .social a{
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
}
.footer .content-right .social a:hover{opacity: 0.7;}
.footer .content-right .social a img{
	display: block;
	width: 25px;
	height: 25px;
}



.wr-copyright{
	padding: 8px 0px;
	background: #454545;
}
.wr-copyright .wr-text{
	float: left;
    margin-top: 2px;
}
.wr-copyright .text{
	display: inline-block;
	margin-left: 2px;
	vertical-align: top;
	font: 16px "Circe-Light";
	color: #fff;
}
.wr-copyright .copyright{
	display: inline-block;
    vertical-align: top;
    font: 17px/20px "Circe-Light";
    color: #fff;
}
